<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1>Curated</h1>
<h2>Admin</h2>

<h2>Pending Approval</h2>

<ul>
    <% pending_approval.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>  # create and use helper methods to show sold and unapproved items to admins
        </li>
    <% end %>
</ul>

<ul>
    <% sold_products.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>
        </li>
    <% end %>
</ul>