<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h2>Pending Approval</h2>

<ul>
    <% @pending_products.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>
        </li>
    <% end %>
</ul>

<%= link_to "See all products", products_path %>
