<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>

<h1>Curated</h1>
<h2>Admin
    | <strong><%= @user.username %></strong>
</h2>

<h2>Pending Approval</h2>

<ul>
    <% @pending_products.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>
        </li>
    <% end %>
</ul>
