<% if current_admin? %>
    <%= link_to "Admin dashboard", admin_user_path(current_user) %>
<% end %>

<h2>Available Products</h2>
<% if !@available_products.empty? %>
    <% @available_products.each do |product| %>
        <li>
            <%= link_to product.name, product_path(product) %>
        </li>
    <% end %><br>
<% else %>
    <em>Sorry, there are currently no available products for this category.</em>
<% end %><br><br>

<%= link_to "Sell something", new_product_path %> | <%= link_to "Shop by category", categories_path %>